ALTER USER 'root'@'localhost' IDENTIFIED BY 'MyNewPass';

-- CREATE SCHEMA `test` DEFAULT CHARACTER SET cp1251;

DROP DATABASE test;

CREATE DATABASE test
  DEFAULT CHARACTER SET cp1251
  DEFAULT COLLATE cp1251_general_ci;

USE test;

CREATE TABLE theaters
(
  id              INT unsigned NOT NULL AUTO_INCREMENT,
  name            VARCHAR(150) NOT NULL,
  image		  VARCHAR(250) NOT NULL,
  address	  VARCHAR(250) NOT NULL,
  PRIMARY KEY     (id)
);

CREATE TABLE seats
(
  id                INT unsigned NOT NULL AUTO_INCREMENT,
  relative_price    FLOAT unsigned NOT NULL,
  amount            INT unsigned NOT NULL,
  theater_id        INT unsigned NOT NULL,
  FOREIGN KEY (theater_id) REFERENCES theaters (id),
  PRIMARY KEY (id)
);

CREATE TABLE plays
(
  id   	  	  INT unsigned NOT NULL AUTO_INCREMENT,
  name            VARCHAR(150) NOT NULL,
  description     VARCHAR(5000),
  min_price	  INT unsigned NOT NULL,
  image		  VARCHAR(250) NOT NULL,
  PRIMARY KEY     (id)
);

CREATE TABLE sessions
(
  id            INT unsigned NOT NULL AUTO_INCREMENT,
  date          DATE NOT NULL,
  theater_id        INT unsigned NOT NULL,
  play_id           INT unsigned NOT NULL,
  FOREIGN KEY (theater_id) REFERENCES theaters (id),
  FOREIGN KEY (play_id) REFERENCES plays (id),
  PRIMARY KEY (id)
);

CREATE TABLE users
(
  id   	  	  INT unsigned NOT NULL AUTO_INCREMENT,
  name            VARCHAR(150) NOT NULL,
  surname         VARCHAR(150) NOT NULL,
  email           VARCHAR(150) NOT NULL,
  password        VARCHAR(150) NOT NULL,
  PRIMARY KEY     (id)
);

CREATE TABLE orders
(
  id            INT unsigned NOT NULL AUTO_INCREMENT,
  date          DATE NOT NULL,
  user_id           INT unsigned NOT NULL,
  FOREIGN KEY (user_id) REFERENCES users (id),
  PRIMARY KEY (id)
);

CREATE TABLE order_items
(
  id                INT unsigned NOT NULL AUTO_INCREMENT,
  date              DATE NOT NULL,
  amount            INT NOT NULL,
  order_id          INT unsigned NOT NULL,
  session_id        INT unsigned NOT NULL,
  seat_id           INT unsigned NOT NULL,
  FOREIGN KEY (order_id) REFERENCES orders (id),
  FOREIGN KEY (session_id) REFERENCES sessions (id),
  FOREIGN KEY (seat_id) REFERENCES seats (id),
  PRIMARY KEY (id)
);



INSERT INTO theaters (name, image, address) VALUES
  ('Торговый комплекс «Невский Центр»', 'NC.jpg', 'Невский проспект, 114-116'),
  ('Hilton St. Petersburg ExpoForum', 'Hilton.jpg', 'Петербургское шоссе, 62, к. 1'),
  ('Центр Мультимедиа Русского музея', 'multimedia.jpg', 'Инженерная ул., 8'),
  ('Дом А. И. Соллогуба', 'bzlk.jpg', 'Дворцовая наб., 20'),
  ('Площадка «Скороход»', 'Skorokhod.jpg', 'Московский пр., 107, к.5');

INSERT INTO seats (relative_price, amount, theater_id) VALUES
  (1, 35, 1),
  (1, 25, 1.5),
  (2, 25, 1),
  (2, 55, 1.125),
  (2, 25, 1.25),
  (3, 15, 1),
  (3, 15, 1.2),
  (4, 13, 1),
  (4, 13, 1.2),
  (4, 13, 1.6),
  (5, 30, 1),
  (5, 30, 1.2),
  (5, 30, 1.4),
  (5, 30, 1.8);



INSERT INTO users (name, surname, email, password) VALUES
  ('Артём', 'Арсенян', 'tochka@dostupa.ru', '123'),
  ('Филипп', 'Вулах', 'vulakh@rgisi.ru', '123'),
  ('Лиза', 'Сорокина', 'barsuk@teatroved.ru', '123'),
  ('Арина', 'Начинова', 'law@pioneer.ru', '123'),
  ('Лев', 'Васильев', 'torikowashi@gmail.com', '123'),
  ('Давид', 'Жарницкий', 'bezlikie@skorokhod.ru', '123'),
  ('Фёдор', 'Лудинов', 'bionicle@pw.ru', '123');

INSERT INTO orders (date, user_id) VALUES
  ('2018-05-14', 1),
  ('2018-05-14', 2),
  ('2018-05-14', 3),
  ('2018-05-14', 4),
  ('2018-05-14', 5),
  ('2018-05-14', 6),
  ('2018-05-14', 7);

INSERT INTO order_items (date, amount, order_id, session_id, seat_id) VALUES
  ('2018-05-14', 10, 1, 1, 2),
  ('2018-05-14', 10, 2, 2, 2),
  ('2018-05-14', 10, 3, 3, 2),
  ('2018-05-14', 10, 4, 4, 2),
  ('2018-05-14', 10, 5, 5, 2),
  ('2018-05-14', 10, 6, 6, 2),
  ('2018-05-14', 10, 7, 7, 2),
  ('2018-05-28', -3, 1, 1, 2),
  ('2018-05-28', -3, 2, 2, 2),
  ('2018-05-28', -3, 3, 3, 2),
  ('2018-05-28', -3, 4, 4, 2),
  ('2018-05-28', -3, 5, 5, 2),
  ('2018-05-28', -3, 6, 6, 2),
  ('2018-05-28', -3, 7, 7, 2);
