@import 'variables.sass'
@import 'base.sass'

@font-face
  font-family: 'NotoSans'
  src: url("./../fonts/NotoSans/NotoSans-Regular.ttf")
@font-face
  font-family: 'NotoSansBold'
  src: url("./../fonts/NotoSans/NotoSans-Bold.ttf")
@font-face
  font-family: 'MontserratBlack'
  src: url("./../fonts/Montserrat/Montserrat-Black.ttf")

*
  font-family: Arial, Helvetica, sans-serif
  font-family: 'NotoSans', sans-serif;
  color: $def-font-color

h1, h2, h3, h4, h5, h6
  font-family: 'MontserratBlack', sans-serif
  text-align: center
  font-weight: 700

.container
  max-width: $container-width
  padding: 0 $container-padding
